ExplorerFund/operation/host_backup/zce/zce_trade.tar.gz
ExplorerFund/operation/host_backup/zce/zce_scripts.tar.gz
ExplorerFund/operation/host_backup/sky_server/sky_svr_scripts.tar_20161109.bz2
ExplorerFund/operation/host_backup/shfe/sh_trade.tar.bz2
ExplorerFund/operation/host_backup/dce/dce_scripts.tar.bz2
ExplorerFund/operation/host_backup/dce/dce_trade.tar.bz2
ExplorerFund/operation/host_backup/shfe/sh_scripts.tar.bz2